body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 600px !important;  
  margin: 40px
}
.textLeft{
  text-align: left;
}
.textRight{
  text-align: right;
}
.textCenter{
  text-align: center;
}
.todo{
  padding: 8px;
  font-size: 16px;
}